<%= render "shared/header" %>

<div class="items-sell-main">
    <h2 class="items-sell-title">投稿</h2>
    <%= form_with(model: @product, local: true) do |f| %>

    <%# 画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        image or video
      </div>
      <div class="click-upload">
        <p>
          お気に入り画像選択
        </p>
        <%= f.file_field :image, id:'items_image' %>
        <div id = "item-image"></div>
      </div>
    </div>
    <%# /画像 %>
    <%# 内容 %>
    <div class="new-items">
      <div class="items-explain">
        <div class="weight-bold-text">
        
        </div>
        <%= f.text_area :text, class:"items-text", id:"item-info", placeholder:"text", rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /内容 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "POST" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>