<%= render "shared/header" %>

<%# 投稿の概要 %>
<div class="item-show">
  <%# 投稿者のみ削除可能%>
    <div class="item-show-two">
    <% if user_signed_in? && @product.user.id == current_user.id %>
    <%= link_to '編集', edit_product_path(@product.id), method: :get, class: "item-red-btn" %>
    <%= link_to '削除', product_path(@product.id), method: :delete, class:'item-destroy' %>
    <% end %>
    </div>
    <%# // 投稿者のみ削除可能 %>

  <div class="item-box">
    <div class='item-img-contents'>
      <% @product.images.each do |image|%>
        <%= image_tag image, class:"item-box-img" %>
      <% end %>
    </div>
    <div class="item-explain-box">
      <span><%= @product.text %></span>
    </div>
    <div class="genre-show">
       <span class="tag_tag_list">Genre : </span>
       <%= @product.genre.name %>
    </div>
    <div class="tag-top-show">
       <span class="tag_tag_list">Tag list : </span>
      <%= render 'products/tag_list', tag_list: @product.tag_list%>
    </div>
  </div>
  <%# /投稿の概要 %>
      <tr>
        <% if current_user.liked_by?(@product.id) %>
          <td>いいねを外す</td>
        <% else %>
          <td><%= link_to 'いいね', create_like_path(@product.id), method: :POST %></td>
        <% end %>
      </tr>
  <div class="comment-box">
       <% if current_user %>
        <%= form_with(model: [@product, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", class:"comment-text" %>
          <button type="submit" class="comment-btn">
            <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
            <span>コメントする<span>
          </button>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
          <p><%=link_to "削除", product_comment_path(comment.product.id, comment.id), method: :delete %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>