<%= render "shared/header" %>

<%# 投稿の概要 %>
<div class="item-show">
  <%# 投稿者のみ削除可能%>
    <div class="item-show-two">
    <% if user_signed_in? && @product.user.id == current_user.id %>
    <%= link_to '編集', edit_product_path(@product.id), method: :get, class: "item-red-btn" %>
    <%= link_to '削除', product_path(@product.id), method: :delete, class:'item-destroy' %>
    <% end %>
    </div>
    <%# // 投稿者のみ削除可能 %>

  <div class="item-box">
    <div class="previews">
      <div class="slider">
        <% @product.images.each do |image|%>
          <%= image_tag image, class:"item-box-img" %>
        <% end %>
      </div>
    </div>
    <div class="like-button">
      <table>
      <tbody>
      <tr  id="product_<%= @product.id %>">
         <%= render 'product', product: @product %>
      </tr>
      </tbody>
      </table>
    </div>
    <div class="item-explain-box">
      <span><%= @product.text %></span>
    </div>
    <div class="genre-show">
       <span class="tag_tag_list">Genre : </span>
       <%= @product.genre.name %>
    </div>
    <div class="tag-top-show">
       <span class="tag_tag_list">Tag list : </span>
      <%= render 'products/tag_list', tag_list: @product.tag_list%>
    </div>
  </div>
  <%# /投稿の概要 %>
      
  <div class="comment-box">
    <h1>Chat room</h1>
      <div id ='messages', class="comments">
        <%= render @comments %>
      </div>
      <%= form_with model: @comment do |f| %>
        <%= f.text_field :text, class: "comment-text" %>
        <%= f.submit '送信', class: "comment-btn"%>
        <span>コメントする<span>
      <% end %>
  </div> 
</div>

<%= render "shared/footer" %>